<div [formGroup]="form">
	<ng-solcre-input-url 
		[control]="form.controls.link"
		[form]="form"></ng-solcre-input-url>
</div>

<ng-solcre-tabs
	(onChange)="selected = $event.id"
	[tabs]="tabs">
</ng-solcre-tabs>

<div class="tab-content">
	<div class="tab-content-1" *ngIf="selected == 1">
		<p>Contenido tab 1</p>
	</div>
	<div class="tab-content-2" *ngIf="selected == 2">
		<p>Contenido tab 2</p>
	</div>
	<div class="tab-content-3" *ngIf="selected == 3">
		<p>Contenido tab 3</p>
	</div>
</div>
<hr />
<ng-solcre-simple-panel
	*ngIf="tableModel" 
	(onParseModel)="onParseModel($event)"
	(onRowChanged)="onRowChanged($event)"
	(onHalPagerChanges)="onHalPagerChanges($event)"
	[primaryForm]="form"
	[options]="panelOptions"
	[tableModel]="tableModel"></ng-solcre-simple-panel>